<footer>
    <section><a href="#">&copy; 2023 The Mobile Hour</a></section>
    <section class="footer-link">
        <a href="#">Terms and Conditions</a>
        <a href="#">Privacy and Policy</a>
    </section>
</footer>